# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.DS_Store
.classpath
.gitattributes
.project
.csv

gradlew
gradlew.bat
settomg.gradle

.settings
bin
gradle/wrapper
