# Ignore Gradle project-specific cache directory
.gradle
*.csv

# Ignore Gradle build output directory
build
ChangedFilesList/
.DS_Store
.classpath
.gitattributes
*.project
TargetProjects/
gradlew
gradlew.bat
settings.gradle
*.txt
*.settings
bin
PMDReports/
SAResultMiner/
gradle/wrapper
